body {
    padding-top: 1px;
    background-image: url('img/nature.jpg');
    background-color: blue;
  }
  .bod1{
    
    border:2px solid black ;
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 1px;
    padding-top: 50px;
    background-image: url('image/sport.jpg');
    background-color:#408080
     
  }
  .para1{
     
     display: inline;
      text-align: center;
     color:black;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 50px;
  }
  .b2{

    color-adjust: black;
     margin-right:1px;
  }
  .b1{
      color: black
    
    
  }
  
  
  
  
  .card {
    height: 100%;
  }
  
  span{
  margin: 8px;
  color:black;
  }
  